.DS_Store

# compiled output
/components/task-list/dist
/components/task-list/tmp

# dependencies
/components/task-list/node_modules

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
